            <div class="registration-panel panel panel-default">
                <div class="panel-heading">Sign Up</div>
                <div class="panel-body">
                    <form method="post" action="{{path('registration')}}" autocomplete="off">

                        {% if messages is defined and not messages is empty %}
                            {% for message in messages %}
                                <div class="{{message.type}} message">
                                    <span class="{{message.icon}}"></span><span class="text">{{message.text}}</span>
                                </div>
                            {% endfor %}
                        {% endif %}


                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Enter a username" autocomplete="off" required>
                        </div>
                        <div class="form-group"> 
                            <input 
                                class="form-control" 
                                type="password" 
                                placeholder="Your Klocked Password" 
                                name="password" 
                                id="password" 
                                autocomplete="off"
                                required
                                oninput="form.confirm.pattern = escapeRegExp(this.value)" 
                                minlength="6"
                                title="Password is a required field and must be a minimum of 13 characters (for your security)"
                            />
                        </div>
                        <div class="form-group">                   
                            <input type="password" class="form-control" placeholder="Re-type Your Password" name="confirm" id="confirm" autocomplete="off" minlength="6"  title="Password Confirm and Password fields do not match." required>
                        </div>

                        <div class="form-group">                   
                            <input type="email" class="form-control" placeholder="Email" name="email" id="email" autocomplete="off" required>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="agreement" id="agreement" required> <label for="agreement">I agree to the <a href="{{path('custom_page',{friendly_url:'terms-of-service'})}}">Terms of Service</a> and <a href="{{path('custom_page',{friendly_url:'privacy-policy'})}}">Privacy Policy</a></label>
                        </div>

                        <div class="signup-button">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('register') }}">
                                {% if back is defined %}<a href="{{path('index')}}" class="btn btn-default">&laquo; Home</a>
{% endif %}
                                <input type="submit" name="submit" id="submit" value="Sign Up" class="btn btn-primary" />
                        </div>               
                    </form>
                </div>
            </div>


