{% extends 'admin/universal/list.html.twig' %}

{% block heading %}Review{% endblock %}

{% block userclass %}active{% endblock %}

{% block addbutton %}Add Review{% endblock %}

{% block table %}
    <thead>
        <th>ID</th>
        <th>Product</th>
        <th>Reviewer</th>
        <th>Comment</th>       
        <th>Rating</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for Review in entity_list %}
            <tr id="content_{{Review.id}}">
                <td>{{Review.id}}</td>
                <td>{% if Review.Product is defined and Review.Product is not null %}{{Review.Product.Name}}{% endif %}</td>
                <td>{{Review.Reviewer}}</td>
                <td>{{Review.Comment|e}}</td>
                <td>{{Review.rating}}</td>
                <td><a href="{{path('admin_universal_form', {id:Review.id, reponame:reponame})}}"><span class="glyphicon glyphicon-pencil"></span></a> <a href="#" class="js-remove" data-target="{{Review.id}}"><span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}
