{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Checkout'|trans}}{% endblock %}

{% block searchbar %}{% endblock %}
{% block pageclass%}checkout-page{% endblock%}

{% block pageunloadcategory %}PS_Time_End{% endblock %}

{% block primarybody %}

<h1 class="track-pageview" data-category="PS_Time_Start" data-label="Visit: {{visit}}" >Checkout</h1>

    <form method="get" action="{{redirect_url}}">
        <div class="checkout-container" id="checkout_container">

            <table class="table table-striped">   
            <thead>
                    <th></th>
                    <th>Title</th>
                    <th>Price</th>
                    <th>Purchase</th>
            </thead>
            <tbody>
                {% for Product in products %}
                    <tr>
                        <td class="image"><img src="{{Product.image}}" /></td>
                        <td>{{Product.name}}</td>
                        <td>${{Product.price|number_format(2,'.',',')}}</td>
                        <td><input type="radio" name="product" id="product" value="{{Product.id}}" {% if loop.index0 == 0 %}checked{% endif %} /></td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>

        <input type="hidden" id="user" name="user" value="{{User.ExternalId}}" />

        {% embed 'default/components/navigation.html.twig' with {back:true, category: 'PS', abandon: true, term:term, purchase: false, checkout: true} %}{% endembed %}

    </form>

{% endblock %}
