{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Checkout'|trans}}{% endblock %}

{% block searchbar %}{% endblock %}
{% block pageclass%}checkout-page{% endblock%}

{% block pageunloadcategory %}PS_Time_End{% endblock %}

{% block primarybody %}

<h1 class="track-pageview" data-category="PS_Time_Start" data-label="Visit: {{visit}}" >Checkout</h1>

    <form method="POST" action="{{path('purchase_item')}}">
        <div class="checkout-container" id="checkout_container">
            {% if products is not empty %}
                <table class="table table-striped">   
                <thead>
                        <th></th>
                        <th>Title</th>
                        <th>Price</th>
                        <th>Purchase</th>
                </thead>
                <tbody>
                    {% for Product in products %}
                        <tr>
                            <td class="image"><img src="{{Product.image}}" class="track-event" data-event="click" data-category="PS_{{Product.image}}_Image" data-label="Visit: {{visit}}" /></td>
                            <td><span class="track-event" data-event="click" data-category="PS_{{Product.image}}_Title" data-label="Visit: {{visit}}">{{Product.name}}</span></td>
                            <td><span class="track-event" data-event="click" data-category="PS_{{Product.image}}_Price" data-label="Visit: {{visit}}">${{Product.price|number_format(2,'.',',')}}</span></td>
                            <td><input type="radio" name="product" id="product" value="{{Product.id}}" {% if loop.index0 == 0 %}checked{% endif %} class="track-event" data-category="PS_{{Product.id}}_Considered" data-event="click" data-label="Visit: {{visit}}" /></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
            {% else %}
                <p class="empty-cart">{{settings['ps_empty_cart_text']|default('')}}</p>
            {% endif %}
        </div>

        <input type="hidden" id="timestamp" name="timestamp" value="{{"now"|date('U')}}" />
        <input type="hidden" id="configuration" name="configuration" value="{{configuration_id}}" />
        <input type="hidden" id="user" name="user" value="{{User.ExternalId}}" />

        {% embed 'default/components/navigation.html.twig' with {back:settings['ps_display_back'], category: 'PS', abandon: settings['ps_display_abandon'], term:term, purchase: false, checkout: products|length > 0, visit: visit, settings:settings} %}{% endembed %}

    </form>

{% endblock %}
