{% extends 'base.html.twig' %}

{% block baseheader %}
    {{render(controller('AppBundle:Default:gaTag'))}}                     
    {{render(controller('AppBundle:Default:headerHTML'))}}                     
{% endblock %}

{% block templatestyles %}
    <link rel="stylesheet" href="/dist/css/default.css"></link>
    <link rel="stylesheet" href="/dist/css/stars.css"></link>
    {% block individualstyles %}
    {% endblock %}
{% endblock %}


{% block bodyclass %}track-event{% endblock %}

{% block containerclass %}container{% endblock %}

{% block shellclass %}default {% block pageclass%}{% endblock %}{% endblock %}

{% block bodydata %}
    data-trackurl="{{path('track_event')}}"
    data-event="unload" data-category="{% block pageunloadcategory %}{% endblock %}" data-label="Visit: {{visit}}"
    {% block pagebodydata %}{% endblock %}
{% endblock %}

{% block mainbody %}
        {% block searchbar %}
            {% if settings is not defined or settings['srs_display_search'] %}
                <div id="searchbar">
                    <div id="logo_small">
                    </div>
                    <div class="input-group">
                      <input type="text" readonly class="form-control" placeholder="Search" aria-describedby="basic-addon1" value="{% if term is defined %}{{term}}{% endif %}">
                      <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            {% endif %}
        {% endblock %}
        {% block primarybody %}
        {% endblock %}
{% endblock %}

{% block basefooter %}
	<footer>	
		{{render(controller('AppBundle:Default:messages'))}}
	</footer>

    {{render(controller('AppBundle:Default:footerHTML'))}}                     
{% endblock %}

{% block templatescripts %}
    <script src="/dist/js/messages.js"></script>
    <script src="/dist/js/analytics.js"></script>
    {% block custom_html %}

    {% endblock %}
{% endblock %}

