{% extends 'default/default_shell.html.twig' %}

{% block title %}{{Product.Name}}{% endblock %}

{% block pageclass%}details-page{% endblock%}

{% block pageunloadcategory %}PIS_{{Product.Id}}_Time_End{% endblock %}

{% block primarybody %}

<div id="product_details" class="track-pageview" data-category="PIS_{{Product.Id}}_Time_Start" data-label="Visit: {{visit}}">

        {% if settings['pis_display_images'] %}
            <div id="product_detail_image">
                <img src="{{Product.image}}" class="track-event" data-event="click" data-category="PIS_{{Product.Id}}_image" data-label="Visit: {{visit}}">
            </div>
        {% endif %}

        <div id="product_detail_column_container">

            {% if settings['pis_display_title'] %} 
                <div id="product_detail_title">
                    <h3 class="track-event" data-event="click" data-category="PIS_{{Product.id}}_Title">{{Product.name}}</h3>
                </div>
            {% endif %}

            <div id="product_detail_author_container">
                {% if settings['pis_display_author'] %}
                    <div id="product_detail_author" class="track-event" data-category="PIS_{{Product.id}}_Author" data-label="Visit: {{visit}}" data-event="click">
                        {% for Author in Product.authors %}{% spaceless %}
                           {% if loop.index0 > 0 %}, {% endif %}{{Author.name}}
                        {% endspaceless %}{% endfor %}
                    </div>
                {% endif %}

                {% if settings['pis_display_price'] %}
                    <div id="product_detail_price" class="track-event" data-category="PIS_{{Product.id}}_Price" data-label="Visit: {{visit}}" data-event="click">
                        ${{Product.price|number_format(2,'.',',')}}
                    </div>
                {% endif %}

                {% if settings['pis_display_sales']|default('true') %}
                    <div id="product_detail_sales" class="track-event" data-category="PIS_{{Product.id}}_Sales" data-label="Visit: {{visit}}" data-event="click">
                        {{Product.sales}} sold
                    </div>
                {% endif %}


                {% if settings['pis_display_addcart']|default(true) %}
                    <div id="product_add_cart">
                        <a href="{{path('checkout', {product:Product.id})}}" class="btn btn-primary track-event add-cart" data-event="click" data-category="PIS_{{Product.id}}_Add_Cart" data-label="Visit: {{visit}}">Add to Cart</a>
                    </div>
                {% endif %}
            </div>

            {% if settings['pis_display_description'] %}
                <div id="product_detail_decription" class="track-event" data-event="click" data-category="PIS_{{Product.id}}_Description">
                    {{Product.description|raw}}
                </div>
            {% endif %}

            {% if settings['pis_display_ratings'] or settings['pis_display_stars'] %}
                <h2 id="heading"> Customer Reviews </h2>  

                <div id="rating">

                    {% if settings['pis_display_stars'] %}
                        <a href="">
                            <div class="star-ratings-sprite">
                                <span style="width:{% if ratings[Product.id] is defined %}{{(ratings[Product.id]['rating']/5)*100}}{% else %}0{% endif %}%" class="star-ratings-sprite-rating"></span>
                            </div>
                        </a>
                    {% endif %}

                    {% if settings['pis_display_ratings'] %}
                        {% if ratings[Product.id] is defined %}
                            {{ratings[Product.id]['rating']|number_format(1,'.',',')}}
                        {% else %}
                            0
                        {% endif %} 
                        out of 5 stars
                        <span>from {% if ratings[Product.id] is defined %}{{ratings[Product.id]['count']}}{% else %}0{% endif %} review{% if ratings[Product.id]['count'] is not defined or ratings[Product.id]['count'] != 1 %}s{% endif %}.</span>
                    {%  endif %}
                </div>
            {% endif %}
    
            {% if settings['pis_display_barchart'] %}
                <div id="ratings">
                    <table id="ratings_table">        
                        {% for rating in 5..1 %}
                            <tr>
                                <td id="rating_value_{{rating}}" class="rating-cell">{{rating}} star{% if rating != 1 %}s{% endif %}</td>
                                <td class="progress-cell">
                                    <a href="{{path('product_reviews', {'product': Product.id, 'filter':rating})}}" class="track-event" data-event="click" data-category="PIS_{{Product.id}}_FilterBy{{rating}}Star" data-label="Visit: {{visit}}">
                                        <div class="progress"> 
                                         <div 
                                            class="progress-bar progress-bar-success"
                                            role="progressbar"		 	 
                                            aria-valuemin="0"
                                            aria-valuemax="100" 
                                            style="width: {% spaceless %}{% if ratings_by_value[rating] is defined %}{{(ratings_by_value[rating]['percent'] * 100)|number_format(0,'.',',')}}{% else %}0{% endif %}%{% endspaceless %}">
                                          </div>
                                        </div>
                                    </a>
                                </td>
                                {% if settings['pis_display_percentages'] %}
                                    <td class="percent-cell">{% spaceless %}{% if ratings_by_value[rating] is defined %}{{(ratings_by_value[rating]['percent'] * 100)|number_format(0,'.',',')}}%{% else %}0%{% endif %}{% endspaceless %}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

            <div id="rating_button">
                <a href="{{path('product_reviews', {'product': Product.id})}}" class="btn btn-primary track-event" data-event="click" data-category="PIS_{{Product.id}}_FilterByAllStars" data-label="Visit: {{visit}}">{{settings['pis_click_reviews_text']}}</a>
            </div>
        </div>
</div>

 {% embed 'default/components/navigation.html.twig' with  {'category':'PIS_' ~ Product.Id, purchase:settings['pis_display_purchase'],abandon:settings['pis_display_abandon'], visit: visit, back: settings['pis_display_back'], term: term, settings:settings} %}{% endembed %}

{% block custom_html %}
    {% if settings['pis_custom_html'] is defined %}
        {{settings['pis_custom_html']|raw}}
    {% endif %}
{% endblock %}

{% endblock %}
