{% extends 'default/default_shell.html.twig' %}

{% block title %}{{Product.Name}}{% endblock %}

{% block pageclass%}details-page{% endblock%}

{% block pageunloadcategory %}PIS_{{Product.Id}}_Time_End{% endblock %}

{% block primarybody %}

<div id="product_details" class="track-pageview" data-category="PIS_{{Product.Id}}_Time_Start" data-label="Visit: {{visit}}">

        <div id="product_detail_image">
            <img src="{{Product.image}}">
        </div>

        <div id="product_detail_column_container">
 
            <div id="product_detail_title">
                <h3>{{Product.name}}</h3>
            </div>
       
            <div id="product_detail_author_container">
                <div id="product_detail_author">
                    {% for Author in Product.authors %}{% spaceless %}
                       {% if loop.index0 > 0 %}, {% endif %}{{Author.name}}
                    {% endspaceless %}{% endfor %}
                </div>

                <div id="product_detail_price">
                    ${{Product.price|number_format(2,'.',',')}}
                </div>

                <div id="product_add_cart">
                    <a href="{{path('checkout', {product:Product.id})}}" class="btn btn-primary">Add to Cart</a>
                </div>
            </div>

            <div id="product_detail_decription">
                {{Product.description|raw}}
            </div>

            <h2 id="heading"> Customer Reviews </h2>  

            <div id="rating">
    			<div class="star-ratings-sprite"><span style="width:{% if ratings[Product.id] is defined %}{{(ratings[Product.id]/5)*100}}{% else %}0{% endif %}%" class="star-ratings-sprite-rating"></span></div>

                {% if ratings[Product.id] is defined %}
                    {{ratings[Product.id]|number_format(1,'.',',')}}
                {% else %}
                    0
                {% endif %} 
                out of 5 stars
            </div>

            <div id="ratings">
                <table id="ratings_table">        
                    {% for rating in 5..1 %}
                        <tr>
                            <td id="rating_value_{{rating}}" class="rating-cell">{{rating}} star{% if rating != 1 %}s{% endif %}</td>
                            <td class="progress-cell">
                                <div class="progress"> 
                                 <div 
                                    class="progress-bar progress-bar-success"
                                    role="progressbar"		 	 
                                    aria-valuemin="0"
                                    aria-valuemax="100" 
                                    style="width: {% spaceless %}{% if ratings_by_value[rating] is defined %}{{(ratings_by_value[rating]['percent'] * 100)|number_format(0,'.',',')}}{% else %}0{% endif %}%{% endspaceless %}">
                                  </div>
                                </div>
                            </td>
                            <td class="percent-cell">{% spaceless %}{% if ratings_by_value[rating] is defined %}{{(ratings_by_value[rating]['percent'] * 100)|number_format(0,'.',',')}}%{% else %}0%{% endif %}{% endspaceless %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="rating_button">
                <a href="{{path('product_reviews', {'product': Product.id})}}" class="btn btn-primary track-event" data-event="click" data-category="PIS_{{Product.Id}}_Review_Button" data-label="Visit: {{visit}}">Click to see individual reviews</a>
            </div>
        </div>
</div>

 {% embed 'default/components/navigation.html.twig' with  {'category':'PIS_{{Product.Id}}', purchase:true,abandon:true, visit: visit, back: true, term: term} %}{% endembed %}

{% endblock %}
