{% extends 'default/default_shell.html.twig' %}

{% block title %}{{'Search Results'|trans}}{% endblock %}

{% block pageclass%}results-page{% endblock%}

{% block pageunloadcategory %}SRS_Time_End{% endblock %}

{% block primarybody %}


    <h1 class="track-pageview" data-category="SRS_Time_Start" data-label="Visit: {{visit}}">Search Results</h1>
    <div id="results">

        <div id="page_data">
            <p>Displaying {{(page-1) * (items_per_page) + 1}}-{{(products|length) + ((page-1)*(items_per_page))}} of {{total}} results.</p>
        </div>

        {% set prototype %}
            {% embed 'default/components/product_result.html.twig' with {Product:null, settings:settings, index:'**index**', visit:'**visit**'} %}{% endembed %}
        {% endset %}

        <div id="product_section" data-prototype="{{prototype|e}}" data-index="{{(products|length) + ((page-1)*(items_per_page))}}">
            {% for Product in products %}
                {% embed 'default/components/product_result.html.twig' with {Product:Product, settings:settings, index:loop.index0, visit: visit} %}{% endembed %}
            {% endfor %}
        </div>

        <div class="next-previous">
            {% if page > 1 %}
                <a class="btn btn-primary" href="{{path('search_results', {page:page-1})}}">{{settings['srs_previous_button_text']|default('Previous')}}</a>
            {% endif %}
            {% if index < total %}
                <a class="btn btn-primary js-load-ajax" data-max="{{total}}" href="{{path('search_results', {page:page+1})}}" data-page="{{page+1}}" data-target="#product_section" data-url="{{path('search_results', {page:'**page**','_render':'JSON'})}}">{{settings['srs_next_buttn_text']|default('Next')}}</a>
            {% endif %}
        </div>
    </div>

    {% embed 'default/components/navigation.html.twig' with  {'category':'SRS', purchase:settings['srs_display_purchase'],abandon:settings['srs_display_quit'], visit: visit, back: false} %}{% endembed %}

{% endblock %}

{% block custom_html %}
    {% if settings['srs_custom_html'] is defined %}
        {{settings['srs_custom_html']|raw}}
    {% endif %}
{% endblock %}
