{% extends 'default/default_shell.html.twig' %}

{% block title %}{{Product.Name}} - Reviews{% endblock %}

{% block pageclass%}reviews-page{% endblock%}

{% block primarybody %}

<div id="review_content">

    <div id="review_header">
        <h2 id="review_heading"> Individual Customer Reviews </h2>

        <div id="sort_container">
            <form method="post" id="sortform" name="sortform">
                <select name="sort" id="sort" onchange="sortform.submit();">
                    <option value="e.created:DESC" {% if sort == 'e.created:DESC'%}selected{% endif %}>Sort by date (Descending)</option>
                    <option value="e.created:ASC" {% if sort == 'e.created:ASC'%}selected{% endif %}>Sort by date (Ascending)</option>
                    <option value="e.rating:ASC" {% if sort == 'e.rating:ASC'%}selected{% endif %}>Sort by rating (Ascending)</option>
                    <option value="e.rating:DESC" {% if sort == 'e.rating:DESC'%}selected{% endif %}>Sort by rating (Descending)</option>
                    <option value="e.help_score:ASC" {% if sort == 'e.help_score:ASC'%}selected{% endif %}>Sort by helpful (Ascending)</option>
                    <option value="e.help_score:DESC" {% if sort == 'e.help_score:DESC'%}selected{% endif %}>Sort by helpful (Descending)</option>
                    <option value="e.title:ASC" {% if sort == 'e.title:ASC'%}selected{% endif %}>Sort by title (Ascending)</option>
                    <option value="e.title:DESC" {% if sort == 'e.title:DESC'%}selected{% endif %}>Sort by title (Descending)</option>
                </select>
            </form>
        </div>
    </div>

    {% for Review in reviews %}
        <div id="review_{{loop.index0}}" class="review-listing">
            <div class="review-data">

                <div class="review-row">
                    <div class="review-data-rating">
                        <div class="star-ratings-sprite"><span style="width:{% if Review.rating is defined %}{{(Review.Rating/5)*100}}{% else %}0{% endif %}%" class="star-ratings-sprite-rating"></span></div>
                    </div>

                    <div class="review-data-title">
                        {{Review.title}}
                    </div>
                </div>

                <div class="review-row">
                    <div class="review-data-reviewer">
                       By {{Review.reviewer}}
                    </div>     
                
                    <div class="review-data-created">
                       on <span class="js-date" data-timestamp="{{Review.created}}" data-format="MMM DD, YYYY"></span>
                    </div> 
                </div>
            </div>

            <div class="review-comment">
                {{Review.comment|raw}}
            </div>

            <div class="review-helpscore">
                {{Review.helpScore}} <span>Number of people who found this review helpful.</span>
            </div>
        </div>
    {% endfor %}

    {% if (reviews_per_page * page) < review_count %}
        <div id="review_more_button">
            <a href="{{path('product_reviews', {product:Product.id, page:(page+1)})}}" class="btn btn-primary">See more</a>
        </div>
    {% endif %}

</div>

<div id="#navigation_container">
    <a href="{{path('abandon_shopping')}}" id="#shopping_btn" class="btn btn-primary">Abandon Shopping</a>
    <a href="{{path('search_results', {term:term})}}"  id="#results_btn" class="btn btn-primary">Back to Search Results</a>
    <a href="{{path('product_details', {product:Product.id})}}"  id="#product_btn"  class="btn btn-primary">Back to &quot;{{Product.Name}}&quot;</a>
    <a href="{{path('checkout')}}" class="btn btn-primary"  id="#purchase_btn">Make a Purchase</a>
</div>

{% endblock %}
