{% extends 'default/default_shell.html.twig' %}

{% block title %}{{Product.Name}} - Reviews{% endblock %}

{% block pageclass%}reviews-page{% endblock%}

{% block pageunloadcategory %}CRS_{{Product.ID}}_Time_End{% endblock %}

{% block primarybody %}

<div id="review_content" class="track-pageview" data-category="CRS_{{Product.ID}}_Time_Start" data-label="Visit: {{visit}}">

    <div id="review_header">
        <h2 id="review_heading"> Individual Customer Reviews </h2>

        <div id="sort_container">
            <form method="post" id="sortform" name="sortform">
                <select name="sort" id="sort" class="track-event" onchange="sortform.submit();" data-event="change" data-category="CRS_{{Product.ID}}_Sort" data-label="Visit: {{visit}}">
                    <option value="e.created:DESC" {% if sort == 'e.created:DESC'%}selected{% endif %}>Sort by date (Descending)</option>
                    <option value="e.created:ASC" {% if sort == 'e.created:ASC'%}selected{% endif %}>Sort by date (Ascending)</option>
                    <option value="e.rating:ASC" {% if sort == 'e.rating:ASC'%}selected{% endif %}>Sort by rating (Ascending)</option>
                    <option value="e.rating:DESC" {% if sort == 'e.rating:DESC'%}selected{% endif %}>Sort by rating (Descending)</option>
                    <option value="e.help_score:ASC" {% if sort == 'e.help_score:ASC'%}selected{% endif %}>Sort by helpful (Ascending)</option>
                    <option value="e.help_score:DESC" {% if sort == 'e.help_score:DESC'%}selected{% endif %}>Sort by helpful (Descending)</option>
                </select>
                <select name="filter" id="filter" class="track-event" onchange="sortform.submit();" data-event="change" data-category="CRS_{{Product.ID}}_Filter" data-label="Visit: {{visit}}">
                    <option value="">Any</option>
                    <option value="5" {% if filter == '5'%}selected{% endif %}>5 Star Only</option>
                    <option value="4" {% if filter == '4'%}selected{% endif %}>4 Star Only</option>
                    <option value="3" {% if filter == '3'%}selected{% endif %}>3 Star Only</option>
                    <option value="2" {% if filter == '2'%}selected{% endif %}>2 Star Only</option>
                    <option value="1" {% if filter == '1'%}selected{% endif %}>1 Star Only</option>
               </select> 
            </form>
        </div>
    </div>


    {% if not settings['crs_load_ajax'] %}
        <div id="page_data">
            <p>Displaying {{(page-1) * (reviews_per_page) + 1}}-{{(reviews|length) + ((page-1)*(reviews_per_page))}} of {{review_count}} results.</p>
        </div>
    {% endif %}

    {% set prototype %}
        {% embed 'default/components/review.html.twig' with {Review:null, settings:settings, index:'**index**', visit:visit, category:'CRS_' ~ Product.id} %}{% endembed %}
    {% endset %}


    <div id="review_container" data-index="{{(reviews|length) + ((page-1)*(reviews_per_page))}}" data-prototype="{{prototype|e}}">
        {% for Review in reviews %}
                {% embed 'default/components/review.html.twig' with {Review:Review, index:loop.index0, settings:settings, visit:visit, category:'CRS_' ~ Product.id } %}{% endembed %}
        {% endfor %}
    </div>


    {% if page > 1 and settings['crs_display_back']|default(true) %}
        <div id="review_more_button" class="track-event" data-event="click" data-category="CRS_{{Product.id}}_Previous" data-label="Visit: {{visit}}">
            <a href="{{path('product_reviews', {product:Product.id, page:(page-1)})}}" class="btn btn-primary">Previous</a>
        </div>
    {% endif %}

    {% if (reviews_per_page * page) < review_count %}
        <div id="review_more_button" class="track-event" data-event="click" data-category="CRS_{{Product.id}}_Next" data-label="Visit: {{visit}}">
            <a href="{{path('product_reviews', {product:Product.id, page:(page+1)})}}" class="btn btn-primary review-loader {% if settings['crs_load_ajax'] %}js-load-ajax{% endif %}" data-max="{{review_count}}" data-page="{{page + 1}}" data-target="#review_container" data-url="{{path('product_reviews', {product:Product.id, page:'**page**', '_render':'JSON', filter:filter})}}">See more</a>
        </div>
    {% endif %}

</div>

 {% embed 'default/components/navigation.html.twig' with  {'category':'CRS_' ~ Product.Id, purchase:settings['crs_display_purchase'],abandon:settings['crs_display_abandon'], visit: visit, back: settings['crs_display_back'], term: term, settings: settings} %}{% endembed %}
{% endblock %}

{% block custom_html %}
    {% if settings['crs_custom_html'] is defined %}
        {{settings['crs_custom_html']|raw}}
    {% endif %}
{% endblock %}
