{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}
{% block heading %}Generate Report{% endblock %}
{% block reportclass %}active{% endblock %}

{% block javascripts %}
    <script src="/dist/js/filter.js"></script>
{% endblock %}

{% block adminbody %}

    <form method="post" action="{{path('admin_report_view')}}">
        <div class="form-group">
            <select id="charttype" name="charttype">
                <option value="line">Line</option>
                <option value="bar">Bar</option>
                <option value="pie">Pie</option>
                <option value="doughnut">Doughnut</option>
                <option value="polarArea">Polar Area</option>
            </select>
        </div>

        <div class="form-group">
            <input type="date" id="from" name="from" /> <input type="number" id="from_hour" name="from_hour" step="1" max="23" min="0" value="00" />:<input type="number" id="from_minute" name="from_minute" max="59" min="0" step="1" value="00" />
            To:
            <input type="date" id="to" name="to" /> <input type="number" id="from_hour" name="from_hour" step="1" max="23" min="0" value="00" />:<input type="number" id="from_minute" name="from_minute" max="59" min="0" step="1" value="00" />
        </div>

        <div class="form-group">
            Y <select id="y" name="y">
                {% for value,key in y_mappings %}
                    <option value="{{value}}">{{key}}</option>
                {% endfor %}   
            </select>

            Vs.

            X <select id="x" name="x">
                {% for value,key in x_mappings %}
                    <option value="{{value}}">{{key}}</option>
                {% endfor %}
            </select>
        </div>

        {% set prototype %} 
            {% include 'admin/components/filter.html.twig' with {'filter_index':'**index**', 'dimension_mappings':dimension_mappings} %}
        {% endset %}
        <div id="filter_control" data-prototype="{{prototype|e}}" data-index="1">

            <button class="js-add-filter">Add filter</button>

            {% include 'admin/components/filter.html.twig' with {'filter_index': '0','dimension_mappings':dimension_mappings, 'conditional_mappings':conditional_mappings} %}
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Generate" />
        </div>
    </form> 

{% endblock %}

