{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}
{% block heading %}Reports {% endblock %}
{% block machinereportclass %}active{% endblock %}

{% block javascripts %}
{% endblock %}

{% block adminbody %}

    <h1>Machine Status Report</h1>

    <table class="table table-striped">
    <thead>
        <th>Setup Mode</th>
        <th>Running</th>
        <th>No Change</th>
        <th>Collector Full</th>
        <th>No Paper</th>
        <th>Paper Jam</th>
        <th>Failed Checkin</th>
    </thead>
    <tbody>
        <tr>
            <td>{{totals['setup']}}</td>
            <td>{{totals['running']}}</td>
            <td>{{totals['nochange']}}</td>
            <td>{{totals['collectorfull']}}</td>
            <td>{{totals['nopaper']}}</td>
            <td>{{totals['paperjam']}}</td>
            <td>{{totals['failedcheckin']}}</td>
        </tr>
    </tbody>
    </table>

{% endblock %}
