{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}
{% block heading %}View Report{% endblock %}
{% block reportclass %}active{% endblock %}

{% block javascripts %}
   <script src="/dist/lib/chart.js/Chart.min.js"></script>
   <script src="/dist/js/charts.js"></script>	
{% endblock %}

{% block adminbody %}

    <canvas id="report_chart" data-dataset="{{results|json_encode|e}}" data-title="{{y}} vs. {{x}}" data-chart="{{chart}}"></canvas>

    <a href="{{path('admin_report_export_raw')}}" class="btn btn-primary">Export Raw Data</a>
    <a href="{{path('admin_report_export')}}" class="btn btn-primary">Export Graph Data</a>
    <a href="{{path('admin_report_summary')}}" class="btn btn-primary">Export Summary Data</a>

    {% if not dimensions is empty %}
        {% if dimensions|length > 0 and dimensions[0] is not empty or (to is defined and to is not empty) or (from is defined and from is not empty) %}
            <h3>Filtered by</h3>
            {% if dimension is defined and dimension is not empty %}
                {% for dimension in dimensions %}
                    <div>{% if loop.index0 > 0 %}{{operators[loop.index0-1]}}{% endif %} {{dimension}} {{conditions[loop.index0]}} &quot;{{values[loop.index0]}}&quot;</div>
                {% endfor %}
            {% endif %}
            {% if from is defined and from is not empty %}
                <div>From {{from}} {% if from_hour < 10 %}0{% endif %}{{from_hour|number_format(0,'.',',')}}:{% if from_minute <  10 %}0{% endif %}{{from_minute|number_format(0,'.',',')}}</td>
            {% endif %}
            {% if to is defined and to is not empty %}
                <div>To {{to}} {% if to_hour <  10 %}0{% endif %}{{to_hour|number_format(0,'.',',')}}:{% if to_minute < 10 %}0{% endif %}{{to_minute|number_format(0,'.',',')}}</td>
            {% endif %}
        {% endif %}
    {% endif %}
    <table class="table table-striped">
        <thead>
            <th>{{x}}</th>
            <th>{{y}}</th>
        </thead>
        <tbody>
            {% for x,data in results %}
                <tr>
                    <td>{{data.x}}</td>
                    <td>{{data.y}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="form-group">
        <a class="btn btn-primary" href="{{path('admin_reports')}}">Generate new report</a>
    </div>  

{% endblock %}

