{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}
{% block heading %}View Report{% endblock %}
{% block reportclass %}active{% endblock %}

{% block javascripts %}
   <script src="/dist/lib/chart.js/Chart.min.js"></script>
   <script src="/dist/js/charts.js"></script>	
{% endblock %}

{% block adminbody %}

    <canvas id="report_chart" data-dataset="{{results|json_encode|e}}" data-title="{{y}} vs. {{x}}" data-chart="{{chart}}"></canvas>

    {% if not dimensions is empty %}
        <h3>Filtered by</h3>
        {% for dimension in dimensions %}
            <div>{% if loop.index0 > 0 %}{{operators[loop.index0-1]}}{% endif %} {{dimension}} {{conditions[loop.index0]}} &quot;{{values[loop.index0]}}&quot;</div>

        {% endfor %}
    {% endif %}
    <table class="table table-striped">
        <thead>
            <th>{{x}}</th>
            <th>{{y}}</th>
        </thead>
        <tbody>
            {% for x,data in results %}
                <tr>
                    <td>{{data.x}}</td>
                    <td>{{data.y}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="form-group">
        <a class="btn btn-primary" href="{{path('admin_reports')}}">Generate new report</a>
    </div>  

{% endblock %}

