{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}

{% block settingsclass %}active{% endblock %}

{% block heading %}General Settings{% endblock %}

{% block adminbody %}

     <form method="post">

        <h3> Cloudinary </h3>
        <div class="form-group">
            <label>Cloud Name</label>
            <div class="form-field">
                <input class="form-control" type="text" name="cloudinary_cloudname" id="cloudinary_cloudname" value="{{settings['cloudinary_cloudname']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Api Key</label>
            <div class="form-field">
                <input class="form-control" type="text" name="cloudinary_api_key" id="cloudinary_api_key" value="{{settings['cloudinary_api_key']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Secret</label>
            <div class="form-field">
                <input class="form-control" type="text" name="cloudinary_api_secret" id="cloudinary_api_secret" value="{{settings['cloudinary_api_secret']|default('')}}"/>
            </div>
        </div>
        <div class="form-group">
            <label>Upload Prefix</label>
            <div class="form-field">
                <input class="form-control" type="text" name="cloudinary_upload_preset" id="cloudinary_upload_preset" value="{{settings['cloudinary_upload_preset']|default('')}}"/>
            </div>
        </div>

        <h3> Redirect </h3>
        <div class="form-group">
            <label>Form URL</label>
            <div class="form-field">
                <input class="form-control" type="text" name="form_url" id="form_url" value="{{settings['form_url']|default('')}}">
            </div>
        </div>       

        <input type="submit" value="Save" id="submit" name="submit" class="btn btn-primary" />

     </form>
  
{% endblock %}
