<div class="user-bar {% if nouser is defined and nouser %}no-user{% endif %}">    
    {% if (not nouser is defined or not nouser) and user_data is defined and user_data is not empty and user_data['profile_picture'] is not empty %}<img src="{{user_data['profile_picture']}}" class="image" />{% endif %}
    <div class="content">        
        {% if (not nouser is defined or not nouser) and user_data is defined and user_data is not empty %}
            <strong>{{user_data['username']}}</strong>
            <span>{{user_data['full_name']}}</span>
        {% endif %}

        <div class="cart-bar {% if nouser is defined and nouser %}no-user{% endif %}" style="{% if cart_data is not defined or cart_data['total'] is not defined or cart_data['total']  < 1%}display:none{% endif %}">
            <div class="data">
                <span class="order">{{'Your order'|trans}}:</span>
                <span class="price"><strong>&euro;<span id="cart_bar_price">{{(cart_data['price'] * cart_data['total'])|round(0,'ceil')}}</span></strong> / <span id="cart_bar_total">{{cart_data['total']}}</span> <span id="total_label">{% if cart_data['total'] > 1 %}{{'photos'|trans}}{% else %}{{'photo'|trans}}{% endif %}</span>
            </div>
            {% if nouser is defined and nouser %}
                <img src="/dist/img/trash.png" data-clearurl="{{path('media_cart_clear')}}"  class="js-remove js-modal animation-button" data-target="{{path('modal_cancel_order')}}" data-event="hookup_clear_cart_event" >
            {% endif %}
        </div>
    </div>
</div>
