{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}

{% block settingsclass %}active{% endblock %}

{% block heading %}Configuration Settings{% endblock %}

{% block adminbody %}

     <form method="post">

        <h2>Configuration</h2>
        <div class="form-group">
            <label>Configuration Label</label>
            <div class="field-group">
                <input type="text" id="label" name="label" value="{{label|default('')}}" class="form-control" />
            </div>
        </div>

        <h2>Instructions Screen</h2>

        <div class="form-group">
            <label>Instructions Title Text</label>
            <div class="field-group">
                <input type="text" id="instructions_title_text" name="instructions_title_text" value="{{instructions_title_text|default('Proceed')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Instructions Text</label>
            <div class="field-group">
                <textarea id="instructionsg_text" name="instructions_button_text" value="{{instructions_button_text|default('Proceed')}}" class="form-control">{{instructions_button_text|default('')}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Instructions Button Text</label>
            <div class="field-group">
                <input type="number" id="instructions_button_text" name="instructions_button_text" value="{{instructions_button_text|default('Proceed')}}" class="form-control" />
            </div>
        </div>


        <h2>Search Results Screen</h2>
        <div class="form-group">
            <label>Products per page</label>
            <div class="field-group">
                <input type="number" id="srs_products_per_page" name="srs_products_per_page" value="{{srs_products_per_page|default('3')}}" class="form-control" />
            </div>
        </div>

        <h2>Customer Reviews Screen</h2>
        <div class="form-group">
            <labels>Reviews per page</label>
            <div class="field-group">
                <input type="number" id="crs_reviews_per_page" name="crs_reviews_per_page" value="{{crs_reviews_per_page|default('3')}}" class="form-control" />
            </div>
        </div>

        <input type="submit" value="Save" id="submit" name="submit" class="btn btn-primary" />

     </form>
  
{% endblock %}
