{% extends 'admin/admin_shell.html.twig' %}

{% block title %}Admin{% endblock %}

{% block settingsclass %}active{% endblock %}

{% block heading %}Configuration Settings{% endblock %}

{% block adminbody %}

     <form method="post">

        <h2>Configuration</h2>
        <div class="form-group">
            <label>Configuration Label</label>
            <div class="field-group">
                <input type="text" id="label" name="label" value="{{label|default('')}}" class="form-control" />
            </div>
        </div>

        <h2>Instructions Screen</h2>

        <div class="form-group">
            <label>Instructions Title Text</label>
            <div class="field-group">
                <input type="text" id="instructions_title_text" name="instructions_title_text" value="{{settings['instructions_title_text']|default('Instructions')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Instructions Text</label>
            <div class="field-group">
                <textarea id="instructions_text" name="instructions_text" class="form-control">{{settings['instructions_text']|default('')}}</textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Instructions Button Text</label>
            <div class="field-group">
                <input type="text" id="instructions_button_text" name="instructions_button_text" value="{{settings['instructions_button_text']|default('Proceed')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Search Term</label>
            <div class="field-group">
                <input type="text" id="search_term" name="search_term" value="{{settings['search_term']|default('')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Custom HTML</label>
            <div class="field-group">
                <textarea id="instructions_custom_html" name="instructions_custom_html" class="form-control">{{settings['instructions_custom_html']|default('')}} </textarea>
            </div>
        </div>


        <h2>Search Results Screen</h2>
        <div class="form-group">
            <label>Products per page</label>
            <div class="field-group">             
                <input type="number" id="srs_products_per_page" name="srs_products_per_page" value="{{settings['srs_products_per_page']|default('3')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Next Button Text</label>
            <div class="field-group">
                <input type="text" id="srs_next_button_text" name="srs_next_button_text" value="{{settings['srs_next_button_text']|default('Next')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Previous Button Text</label>
            <div class="field-group">
                <input type="text" id="srs_previous_button_text" name="srs_previous_button_text" value="{{settings['srs_previous_button_text']|default('Previous')}}" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label>Display Price</label>
            <div class="field-group">
                <select id="srs_display_price" name="srs_display_price">
                    <option value="1" {% if settings['srs_display_price'] is not defined or settings['srs_display_price'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_price'] is defined and settings['srs_display_price'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Reviews</label>
            <div class="field-group">
                <select id="srs_display_reviews" name="srs_display_reviews">
                    <option value="1" {% if settings['srs_display_reviews'] is not defined or settings['srs_display_reviews'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_reviews'] is defined and settings['srs_display_reviews'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Stars</label>
            <div class="field-group">
                <select id="srs_display_stars" name="srs_display_stars">
                    <option value="1" {% if settings['srs_display_stars'] is not defined or settings['srs_display_stars'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_stars'] is defined and settings['srs_display_stars'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Author</label>
            <div class="field-group">
                <select id="srs_display_author" name="srs_display_author">
                    <option value="1" {% if settings['srs_display_author'] is not defined or settings['srs_display_author'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_author'] is defined and settings['srs_display_author'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Image</label>
            <div class="field-group">
                <select id="srs_display_image" name="srs_display_image">
                    <option value="1" {% if settings['srs_display_image'] is not defined or settings['srs_display_image'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_image'] is defined and settings['srs_display_image'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Title</label>
            <div class="field-group">
                <select id="srs_display_title" name="srs_display_title">
                    <option value="1" {% if settings['srs_display_title'] is not defined or settings['srs_display_title'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_title'] is defined and settings['srs_display_title'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Purchase</label>
            <div class="field-group">
                <select id="srs_display_purchase" name="srs_display_purchase">
                    <option value="1" {% if settings['srs_display_purchase'] is not defined or settings['srs_display_purchase'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_purchase'] is defined and settings['srs_display_purchase'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Quit</label>
            <div class="field-group">
                <select id="srs_display_quit" name="srs_display_quit">
                    <option value="1" {% if settings['srs_display_quit'] is not defined or settings['srs_display_quit'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_quit'] is defined and settings['srs_display_quit'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Search Results Text</label>
            <div class="field-group">
                <select id="srs_display_search" name="srs_display_search">
                    <option value="1" {% if settings['srs_display_search'] is not defined or settings['srs_display_search'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_search'] is defined and settings['srs_display_search'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Random</label>
            <div class="field-group">
                <select id="srs_display_random" name="srs_display_random">
                    <option value="1" {% if settings['srs_display_random'] is defined and settings['srs_display_random'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_display_random'] is not defined or settings['srs_display_random'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Load with Ajax</label>
            <div class="field-group">
                <select id="srs_load_ajax" name="srs_load_ajax">
                    <option value="1" {% if settings['srs_load_ajax'] is not defined or settings['srs_load_ajax'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['srs_load_ajax'] is defined and settings['srs_load_ajax'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <label>Custom HTML</label>
            <div class="field-group">
                <textarea id="srs_custom_html" name="srs_custom_html" class="form-control">{{settings['srs_custom_html']|default('')}} </textarea>
            </div>
        </div>


        <h2>Product Information Screen</h2>

        <div class="form-group">
            <label>See more reviews button text</label>
            <div class="field-group">
                <input type="text" id="pis_click_reviews_text" name="pis_click_reviews_text" value="{{settings['pis_click_reviews_text']|default('')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Next Button Text</label>
            <div class="field-group">
                <input type="text" id="pis_next_button_text" name="pis_next_button_text" value="{{settings['pis_next_button_text']|default('Next')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Previous Button Text</label>
            <div class="field-group">
                <input type="text" id="pis_previous_button_text" name="pis_previous_button_text" value="{{settings['pis_previous_button_text']|default('Previous')}}" class="form-control" />
            </div>
        </div>


        <div class="form-group">
            <label>Display Price</label>
            <div class="field-group">
                <select id="pis_display_price" name="pis_display_price">
                    <option value="1" {% if settings['pis_display_price'] is not defined or settings['pis_display_price'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_price'] is defined and settings['pis_display_price'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Review</label>
            <div class="field-group">
                <select id="pis_display_review" name="pis_display_review">
                    <option value="1" {% if settings['pis_display_review'] is not defined or settings['pis_display_review'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_review'] is defined and settings['pis_display_review'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Stars</label>
            <div class="field-group">
                <select id="pis_display_stars" name="pis_display_stars">
                    <option value="1" {% if settings['pis_display_stars'] is not defined or settings['pis_display_stars'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_stars'] is defined and settings['pis_display_stars'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Author</label>
            <div class="field-group">
                <select id="pis_display_author" name="pis_display_author">
                    <option value="1" {% if settings['pis_display_author'] is not defined or settings['pis_display_author'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_author'] is defined and settings['pis_display_author'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Images</label>
            <div class="field-group">
                <select id="pis_display_images" name="pis_display_images">
                    <option value="1" {% if settings['pis_display_images'] is not defined or settings['pis_display_images'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_images'] is defined and settings['pis_display_images'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Title</label>
            <div class="field-group">
                <select id="pis_display_title" name="pis_display_title">
                    <option value="1" {% if settings['pis_display_title'] is not defined or settings['pis_display_title'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_title'] is defined and settings['pis_display_title'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Ratings</label>
            <div class="field-group">
                <select id="pis_display_ratings" name="pis_display_ratings">
                    <option value="1" {% if settings['pis_display_ratings'] is not defined or settings['pis_display_ratings'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_ratings'] is defined and settings['pis_display_ratings'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Barchart</label>
            <div class="field-group">
                <select id="pis_display_barchart" name="pis_display_barchart">
                    <option value="1" {% if settings['pis_display_barchart'] is not defined or settings['pis_display_barchart'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_barchart'] is defined and settings['pis_display_barchart'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Percentages</label>
            <div class="field-group">
                <select id="pis_display_percentages" name="pis_display_percentages">
                    <option value="1" {% if settings['pis_display_percentages'] is not defined or settings['pis_display_percentages'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_percentages'] is defined and settings['pis_display_percentages'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Sales</label>
            <div class="field-group">
                <select id="pis_display_sales" name="pis_display_sales">
                    <option value="1" {% if settings['pis_display_sales'] is not defined or settings['pis_display_sales'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_sales'] is defined and settings['pis_display_sales'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Purchasing Buttons</label>
            <div class="field-group">
                <select id="pis_display_purchase" name="pis_display_purchase">
                    <option value="1" {% if settings['pis_display_purchase'] is not defined or settings['pis_display_purchase'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_purchase'] is defined and settings['pis_display_purchase'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Description</label>
            <div class="field-group">
                <select id="pis_display_description" name="pis_display_description">
                    <option value="1" {% if settings['pis_display_description'] is not defined or settings['pis_display_description'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_description'] is defined and settings['pis_display_description'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Abandon Cart</label>
            <div class="field-group">
                <select id="pis_display_abandon" name="pis_display_abandon">
                    <option value="1" {% if settings['pis_display_abandon'] is not defined or settings['pis_display_abandon'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_abandon'] is defined and settings['pis_display_abandon'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Back Button</label>
            <div class="field-group">
                <select id="pis_display_back" name="pis_display_back">
                    <option value="1" {% if settings['pis_display_back'] is not defined or settings['pis_display_back'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_back'] is defined and settings['pis_display_back'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Back Search</label>
            <div class="field-group">
                <select id="pis_display_search" name="pis_display_search">
                    <option value="1" {% if settings['pis_display_search'] is not defined or settings['pis_display_search'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['pis_display_search'] is defined and settings['pis_display_search'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Custom HTML</label>
            <div class="field-group">
                <textarea id="pis_custom_html" name="pis_custom_html" class="form-control">{{settings['pis_custom_html']|default('')}} </textarea>
            </div>
        </div>

        <h2>Customer Reviews Screen</h2>
        <div class="form-group">
            <labels>Reviews per page</label>
            <div class="field-group">
                <input type="number" id="crs_reviews_per_page" name="crs_reviews_per_page" value="{{settings['crs_reviews_per_page']|default('3')}}" class="form-control" />
            </div>
        </div>



        <div class="form-group">
            <label>Next Button Text</label>
            <div class="field-group">
                <input type="text" id="crs_next_button_text" name="crs_next_button_text" value="{{settings['crs_next_button_text']|default('Next')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Previous Button Text</label>
            <div class="field-group">
                <input type="text" id="crs_previous_button_text" name="crs_previous_button_text" value="{{settings['crs_previous_button_text']|default('Previous')}}" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label>Display Abandon Cart</label>
            <div class="field-group">
                <select id="crs_display_abandon" name="crs_display_abandon">
                    <option value="1" {% if settings['crs_display_abandon'] is not defined or settings['crs_display_abandon'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['crs_display_abandon'] is defined and settings['crs_display_abandon'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Back Button</label>
            <div class="field-group">
                <select id="crs_display_back" name="crs_display_back">
                    <option value="1" {% if settings['crs_display_back'] is not defined or settings['crs_display_back'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['crs_display_back'] is defined and settings['crs_display_back'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Back Search</label>
            <div class="field-group">
                <select id="crs_display_search" name="crs_display_search">
                    <option value="1" {% if settings['crs_display_search'] is not defined or settings['crs_display_search'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['crs_display_search'] is defined and settings['crs_display_search'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Purchase</label>
            <div class="field-group">
                <select id="crs_display_purchase" name="crs_display_purchase">
                    <option value="1" {% if settings['crs_display_purchase'] is not defined or settings['crs_display_purchase'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['crs_display_purchase'] is defined and settings['crs_display_purchase'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>



        <div class="form-group">
            <label>Custom HTML</label>
            <div class="field-group">
                <textarea id="crs_custom_html" name="crs_custom_html" class="form-control">{{settings['crs_custom_html']|default('')}} </textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Load with Ajax</label>
            <div class="field-group">
                <select id="crs_load_ajax" name="crs_load_ajax">
                    <option value="1" {% if settings['crs_load_ajax'] is not defined or settings['crs_load_ajax'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['crs_load_ajax'] is defined and settings['crs_load_ajax'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>


        <h2>Purchase Screen</h2>

        <div class="form-group">
            <label>Empty Cart Text</label>
            <div class="field-group">
                <textarea id="ps_empty_cart_text" name="ps_empty_cart_text" class="form-control">{{settings['ps_empty_cart_text']|default('There are no items in your shopping cart. Please go back and select an item to checkout.')}} </textarea>
            </div>
        </div>

        <div class="form-group">
            <label>Display Abandon Cart</label>
            <div class="field-group">
                <select id="ps_display_abandon" name="ps_display_abandon">
                    <option value="1" {% if settings['ps_display_abandon'] is not defined or settings['ps_display_abandon'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['ps_display_abandon'] is defined and settings['ps_display_abandon'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Back Button</label>
            <div class="field-group">
                <select id="ps_display_back" name="ps_display_back">
                    <option value="1" {% if settings['ps_display_back'] is not defined or settings['ps_display_back'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['ps_display_back'] is defined and settings['ps_display_back'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Display Back Search</label>
            <div class="field-group">
                <select id="ps_display_search" name="ps_display_search">
                    <option value="1" {% if settings['ps_display_search'] is not defined or settings['ps_display_search'] == 1 %}selected{% endif %}>Yes</option>
                    <option value="0" {% if settings['ps_display_search'] is defined and settings['ps_display_search'] == 0 %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label>Custom HTML</label>
            <div class="field-group">
                <textarea id="ps_custom_html" name="ps_custom_html" class="form-control">{{settings['ps_custom_html']|default('')}} </textarea>
            </div>
        </div>



        <input type="submit" value="Save" id="submit" name="submit" class="btn btn-primary" />
        <a href="{{path('admin_universal_list', {'reponame':'Configuration'})}}" class="btn btn-danger">Cancel</a>
     </form>
  
{% endblock %}
